body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: rgb(235, 238, 240);
    /* background-image: url('https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
}

section{
    margin: auto;
}

h1 {
    text-align: left;
    color: hsl(0, 2%, 30%);
    font-size: 40px;
    margin: 50px;
}

div{
    height: 10px;
    background: linear-gradient(0.25turn, #3f87a6, #e66465, #9198e5);
    margin-bottom: 30px;
}

#products {
    border: 2px solid black;
    overflow: hidden;
    margin: auto;
    padding-left: 20px;
}


img {
    border: 5px solid rgb(8, 5, 9, .7);
    border-radius: 15px;
    float: left;
    margin: 10px;
    width: 250px;
}


 section ul{
    color: hsl(0, 2%, 30%);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: left;
    list-style-type: square;
    list-style-position: outside;
    margin-left: 50px;
}

li{
    margin-left: em;
    margin-bottom: .5em;
    width: 300px;
}

.hidden {
    display: none;
}

#charts{
    display: inline-block;
    margin-right: 50px;
    width: 800px;
}

#chart, #percent-chart {
    border: 1px solid black;
    margin-bottom: 10px;

}

#percent-chart-styling {
    height: 100px;
}



